<mat-drawer-container class="container">
  <mat-drawer mode="side" opened class="sidebar">
    <app-user-list></app-user-list>
  </mat-drawer>
  <mat-drawer-content>Content</mat-drawer-content>
</mat-drawer-container>
