<mat-selection-list multiple="false" style="min-width: 300px">
  <app-user
    *ngFor="let user of this.users$ | async"
    [user]="user"
    (onSelectUser)="selectUserHandler($event)"
  ></app-user>
  <!-- <mat-list-option *ngFor="let user of this.users$ | async">{{
    user.username
  }}</mat-list-option> -->
</mat-selection-list>
